// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}

@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('#{$url}') format("woff2");
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Cormorant', '../fonts/CormorantRegular.woff2', 400, normal)